.place__title {
    color: #fff;
    max-width: calc(100% - 40px);
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    margin: auto 0;
    grid-area: title;
}

@media (min-width: 375px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin: 64px 0 0 0;
    }
}

@media (min-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        width: 340px;
        margin: 72px 0 0 0;
    }
}

@media (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
        width: 440px;
    }
}

@media (min-width: 1280px) {
    .place__title {
        width: 460px;
    }
}