.place__title{
    color: #fff;
    max-width: calc(100% - 40px);
    font-family: 'Inter';
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    margin: auto 0;
    grid-area: title;
}