.places {
  margin: 0 148px;
  list-style: none;
  padding: 0;
}

@media (max-width: 1024px) {
  .places {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .places {
    margin: 0 24px;
  }
}

@media (max-width: 600px) {
  .places {
    margin: 0;
  }
}