@import url(./__list/places__list.css);
.places {
    display: flex;
}

@media (min-width: 768px) {
    .places {
      margin-left: 24px;
    }
  }
  
  @media (min-width: 1024px) {
    .places {
      margin-left: 48px;
    }
  }