.place__image {
    display: flex;
    margin-top: 48px;
    margin-right: 40px;
    grid-area: image;
}

@media (min-width: 375px) {
    .place__image {
        width: 320px;
        height: 320px;
    }
}

@media (min-width: 768px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}

@media (min-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}

@media (min-width: 1280px) {
    .place__image {
        width: 460px;
        height: 460px;
    }
}