.place__url-link {
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0 0 48px;
}

.place__url-link:hover {
    opacity: 0.5;
}

@media (max-width: 600px) {
    .place__url-link {
        display: none;
    }
}