@import url(./__caption/lead__caption.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);
.lead {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    justify-content: center;
    align-items: center;
    margin: 50px 148px 92px;
}

@media (max-width: 1024px) {
    .lead {
        margin: 50px 48px 92px;
    }
}

@media (max-width: 768px) {
    .lead {
        margin: 50px 0 88px;
    }
}

@media (max-width: 375px) {
    .lead {
        margin: 50px 0 64px;
    }
}