.cover__subtitle {
  color: #fff;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 32px auto;
  z-index: 1;
}

@media (max-width: 375px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}