@import url(./__logo/header__logo.css);
.header {
    display: flex;
    justify-content: space-between;
    min-height: 36px;
}

@media (min-width: 320px) {
    .header {
        width: 288px;
    }
}

@media (min-width: 768px) {
    .header {
        width: 720px;
        margin: 34px 48px 0 48px;
    }
}

@media (min-width: 1024px) {
    .header {
        width: 928px;
        margin: 34px 24px 0 24px;
    }
}

@media (min-width: 1280px) {
    .header {
        width: 984px;
        margin: 34px auto 0 auto;
    }
}