.footer__link {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer__link:hover {
    opacity: 0.5;
}