.place__paragraph {
    color: #fff;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: normal;
    line-height: 29.34px;
    width: 484px;
    height: auto;
    margin-top: 26px;
    margin-bottom: 0;
    padding: 0;
}