.lead__image {
    display: block;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 375px) {
    .lead__image {
        width: 320px;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .lead__image {
        width: 768px;
        height: 480px;
    }
}

@media (min-width: 1024px) {
    .lead__image {
        width: 928px;
        height: 580px;
        margin: 0;
    }
}

@media (min-width: 1280px) {
    .lead__image {
        width: 984px;
        height: 615px;
        margin: 0;
    }
}