.intro__data-text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

@media (min-width: 375px) {
  .intro__data-text {
    width: 288px;
  }
}

@media (min-width: 768px) {
  .intro__data-text {
    width: 720px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 1024px) {
  .intro__data-text {
    width: 690px;
  }
}