.nav__lang {
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  text-align: right;
  margin-left: 18px;
}

.nav__lang:hover {
  opacity: 0.4;
}

@media (max-width: 375px) {
  .nav__lang {
    font-size: 18px;
    line-height: 20px;
  }
}