.lead__subtitle {
    color: #fff;
    font-family: 'Inter';
    margin-top: 32px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    line-height: 36px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    width: 620px;
    height: 72px;
}