@import url(./__background/cover__background.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);
.cover {
  display: flex;
  margin: 92px auto 0 auto;
  height: 60vh;
  min-width: 320px;
  max-width: 1184px;
  text-align: center;
  color: #fff;
  flex-direction: column;
  background-image: url(/images/__background-route-66.png);
  background-size: cover;
  background-position: center;
}

.cover:hover {
  color: #2A2C2F;
  opacity: 0.3;
  transform: opacity 0.20 infiniti linear;
}

@media (min-width: 320px) {
  .cover {
    margin-top: 65px;
    width: 320px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .cover {
    margin-top: 89px;
    width: 768px;
    height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover {
    width: 1184px;
    height: 740px;
  }
}