@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);
.cover {
  margin: 92px auto 0;
  min-width: 320px;
  max-width: 1184px;
}