.footer__item {
    margin-top: 0px;
    margin-right: 37px;
    margin-bottom: 0px;
}

@media (min-width: 320px) {
    .footer__item {
        margin-top: 32px;
    }
    .footer__item:first-of-type {
        margin-top: 64px;
    }
    .footer__item:last-of-type {
        margin-bottom: 0px;
    }
}