.footer__item {
    margin-top: 0;
    margin-right: 18px;
    margin-bottom: 0;
}

@media (max-width: 375px) {
    .footer__item {
        margin-top: 32px;
    }
    .footer__item:first-of-type {
        margin-top: 0;
    }
}