.lead__caption {
    color: #fff;
    font-family: 'Inter';
    align-self: baseline;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;
    line-height: 14px;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media (min-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}

@media (min-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (min-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media (min-width: 1280px) {
    .lead__caption {
        margin-left: 85px;
    }
}