.lead__caption {
    color: #fff;
    font-family: Inter;
    align-self: baseline;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    line-height: 14px;
    font-weight: normal;
    font-size: 10px;
    min-width: 182px;
    height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}