.cover__title {
  font-weight: bold;
  text-align: center;
  font-size: 72px;
  line-height: 76px;
  max-width: 656px;
  padding: 0;
  z-index: 1;
}

@media (max-width: 375px) {
  .cover__title {
    margin-top: 51px;
    font-size: 32px;
    line-height: 35px;
  }
}