.footer__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .footer__list {
        flex-direction: row;
        align-items: baseline;
    }
}

@media (max-width: 375px) {
    .footer__list {
        flex-direction: column;
        align-items: baseline;
    }
}