@import url(./__paragraph/place__paragraph.css);
@import url(./__text/place__text.css);
@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__url-link-heading/place__url-heading.css);
@import url(./__url-link/place__url-link.css);
@import url(./__url/place__url.css);
.place {
    display: grid;
    grid-template-columns: minmax(auto, 460px) auto;
    grid-auto-rows: auto auto;
    grid-template-areas: "title url" "image text";
    grid-column-gap: 40px;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

@media (max-width: 1280px) {
    .place {
        grid-template-columns: 460px auto;
    }
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: 440px auto;
        grid-column-gap: 32px;
    }
}

@media (max-width: 768px) {
    .place {
        grid-template-columns: 340px auto;
        grid-column-gap: 28px;
    }
}

@media (max-width: 480px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "image" "text";
        grid-row-gap: 32px;
        grid-column-gap: 0;
    }
}