@import url(./__paragraph/place__paragraph.css);
@import url(./__text/place__text.css);
@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__url-link-heading/place__url-heading.css);
@import url(./__url-link/place__url-link.css);
@import url(./__url/place__url.css);
.place {
    display: grid;
    grid-template-areas: "title url" "image text";
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    max-width: 984px;
}

@media (max-width: 1024px) {
    .place {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .place {
        max-width: 720px;
        margin: auto;
    }
}

@media (max-width: 375px) {
    .place {
        grid-template-columns: 1fr;
    }
}