@import url(./__paragraph/place__paragraph.css);
@import url(./__text/place__text.css);
@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__url-link-heading/place__url-heading.css);
@import url(./__url-link/place__url-link.css);
@import url(./__url/place__url.css);
.place {
    display: grid;
    grid-template-areas: "title url" "image text";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto auto;
    grid-column-gap: 40px;
    max-width: 984px;
    margin: 0;
    padding: 0;
}

@media (max-width: 1280px) {
    .place {
        grid-template-columns: 460px auto;
    }
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: 440px auto;
        grid-column-gap: 32px;
    }
}

@media (max-width: 768px) {
    .place {
        grid-template-columns: 340px auto;
        grid-column-gap: 28px;
    }
}

@media (max-width: 375px) {
    .place {
        grid-template-columns: 320px auto;
        grid-area: "title image text"
    }
}