@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);
@import url(./__item/footer__item.css);
.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    margin: 92px 48px 24px;
}

@media (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px;
    }
}

@media (max-width: 375px) {
    .footer {
        flex-direction: column;
        margin: 64px 16px 24px;
    }
}