@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);
@import url(./__item/footer__item.css);
.footer {
    display: flex;
    padding: 0;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .footer {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin: 92px 48px 24px;
    }
}

@media (min-width: 375px) {
    .footer {
        flex-direction: column;
        margin: 64px 16px 24px;
    }
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin: 88px 24px 24px;
    }
}

@media (min-width: 1024px) {
    .footer {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin: 92px 48px 24px;
    }
}