@import url(./photo-grid/__item/photo-grid__item.css);
@import url(./photo-grid/photo-grid.css);
.photos {
    margin: 0 auto;
    max-width: 1184px;
    padding: 0 48px 92px;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .photos {
        padding: 0 24px 88px;
    }
}

@media screen and (max-width: 500px) {
    .photos {
        padding: 0 16px 64px;
    }
}