.data__text {
  font-family: 'Inter';
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

@media (min-width: 375px) {
  .data__text {
    width: 288px;
  }
}

@media (min-width: 768px) {
  .data__text {
    width: 720px;
    margin-left: 24px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 1024px) {
  .data__text {
    width: 690px;
    margin-left: 48px;
  }
}

@media (min-width: 1280px) {
  .data__text {
    margin-left: 0;
  }
}